<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>PhotoMetaFixer</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Permet d'enregistrer les photos modifiées dans la bibliothèque.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Cette application a besoin d’accéder à vos photos pour corriger les dates de prise de vue.</string>
</dict>
</plist>
